.example-spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
}
.mat-elevation-z8{
  margin: 3%;
  .filter {
    display: flex;
    width: 100%;
  }
  button {
    margin-right: 2%;}
}

