  <div class="title">Inserisci Dipendente</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()" >
  <div class="content">
  <div class="row">
    <mat-form-field hintLabel="Max 10 characters" appearance="outline">
      <mat-label>Inserisci nome</mat-label>
      <input matInput #input maxlength="16" placeholder="Ex. Nougat" formControlName="nome">
      <mat-hint align="end">{{input.value.length}}/10</mat-hint>
    </mat-form-field>

    <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>ruolo</mat-label>
      <mat-select formControlName="ruolo">
        <mat-option *ngFor="let value of ruolo "[value]="value">{{value}}</mat-option>
      </mat-select>
      <mat-hint align="end">seleziona il tipo di ruolo </mat-hint>
    </mat-form-field>
  </div></div>



  <div class="row">
  <mat-form-field appearance="outline">
    <mat-label>Inserisci Email</mat-label>
    <input matInput placeholder="pat@example.com" required formControlName="email">
  </mat-form-field>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Inserisci password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  </div></div>


  <div class="action">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" type="submit" routerLink="dipendenti">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div> </div>
    </div></form>
